.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-logout-component {
    .buttons {
        display: flex;
        gap : 1rem;
        align-items: center;
        button {
            padding : .5rem;
        }
    }
}

.home {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}